.directory
build/
filesystem/
reference/
boxart/
screenshots/
referencemovies/
boxart/
*.z64
.vscode/
*.eeprom
*.pak

# Blender backup files
*.blend[0-9]

.DS_Store
# IDE files
cmake-*
.idea
CMakeLists.txt
